@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #ffffff;
}

img {
	max-width: 100%;
	display: block;
}

.fondo {
	background-image: url(../img/fondo.png);
	max-width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #ffffff;
}